@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,600&family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Rubik+Glitch&display=swap');

/*---------------Overall styling--------------------*/
body {
    font-size: 20px;
}

.row {
    margin: auto;
}

header {
    min-height: 80px;
    background-color: #000000;
    z-index: 2;
}

h1 {
    font-family: 'Rubik Glitch', fantasy;
    text-transform: uppercase;
    font-size: 45px;
}

.text-white {
    color: white;
}

.text-shadow {
    text-shadow: 5px 5px 2px #000;
}

.text-center {
    text-align: center;
}

.flex-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rubik-upper {
    font-family: 'Rubik Glitch', fantasy;
    text-transform: uppercase;
}

/*---------------------------Nav menu styling---------------------*/

.logo {
    min-width: 190px;
    max-width: 190px;
    background-image: url("../images/panic-switch-logo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    margin: 0;
    z-index: 2;
}

#nav {
    margin: 0;
}

.nav-selector {
    width: 100%;
}

.menu-item-color-a {
    background-color: #1a1a1a;
}

.menu-item-color-b {
    background-color: #383737;
}

.menuitem a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik Glitch', fantasy;
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    padding-top: 18px;
    transition: color ease-in 0.3s;
}

.menuitem a:hover {
    color: #000;
}

.nav-item a {
    color: white;
    width: 100%;
    font-family: 'Rubik Glitch', fantasy;
    text-transform: uppercase;
    padding-left: 20px;
    transition: ease-in 0.2s;
}

.nav-item a:hover {
    color: #000;
}

.active-page {
    color: #000;
}

.menuitem {
    text-align: center;
    height: 80px;
}

.menuitem span {
    display: block;
    padding-top: 26px;
    width: 100%;
}

.hvr-sweep-to-bottom {
    padding: 0 !important;
}

.hvr-sweep-to-right:before {
    background: #c3e4ff;
}

.hvr-sweep-to-bottom:before {
    background: #c3e4ff;
}

.social-links-list a i {
    transition: ease-in 0.2s;
}

.social-links-list a i:hover {
    color: #31628d;
}

li {
    margin: 0;
    width: 100%;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

/*-----------Navbar styling (mobile toggler)------------*/

#nav li {
    font-size: 14px;
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    border-color: #797979;
    margin-right: 15px;
}

.navbar .navbar-toggler span i {
    color: #797979;
}

.navbar-custom {
    background-color: #000000;
}

/*-----------------Top section styling-------------------*/

.background-image {
    height: 800px;
    width: 100%;
    background-color: #383737;
    background-size: cover;
    background-image: url('../images/background-image.webp');
    background-position: center;
}

.overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: inherit;
}

.vanquish-cover {
    margin-top: 350px;
    margin-left: 120px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    box-shadow: 20px 20px 15px #0a0a0a;
    animation-name: fade-in;
    animation-duration: 3s;
}

/*--Source: https://stackoverflow.com/questions/25766783/how-to-make-my-image-responsive-width-and-height--
-----author: Sachithra Dilshan----*/
img {
    width: 100%;
    height: auto;
}

/*-----*/

.center {
    text-align: center;
}

.single-text {
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 70px;
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    animation-name: fade-in;
    animation-duration: 2s;
    text-shadow: 5px 5px 2px #000;
}

.white-exo2-text {
    color: white;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
}

.phone-background,
#shows-list {
    background-color: #161616;
    z-index: 2;
}

#home-top-section,
#home-phone-only,
#subscription-form,
#about-section-main,
#thank-you-text-section,
#thank-you-phone-only,
#shows-title-bar {
    background-color: #383737;
}

/*-----------Music Section Styling--------------*/

.music-section {
    background-color: #000;
}

#music {
    background-color: #000;
}

.music-title {
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fafafa;
    padding-left: 30px;
    padding-right: 30px;
    animation-name: fade-in;
    animation-duration: 2s;
}

.descriptions {
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.video-description {
    padding-left: 20px;
    padding-right: 20px;
}

.spotify {
    margin-top: 100px;
    padding: 0;
}

.amazon {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.spotify-button {
    margin-top: 20px;
    font-size: 22px;
    border-radius: 30px;
    width: 100px;
}

form .button-text {
    font-size: 25px;
    padding: 15px;
}

.music-links {
    padding-left: 10px;
    padding-right: 50px;
}

.music-video {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 12px;
}

.embedded-video {
    width: 90%;
    min-height: 400px;
}

.spotify button {
    transition: ease-in 0.3s;
}

.spotify button:hover {
    color: #000;
}

.amazon button {
    transition: ease-in 0.3s;
}

.amazon button:hover {
    background-color: #8f5202;
    color: #7abbec;
    border-color: #8f5202;
}

/*----------About page styling----------------------*/

.full-height {
    height: 100%;
}

.about-page-image {
    height: 800px;
    width: 100%;
    background-color: #383737;
    background-image: url('../images/about-page-image.webp');
    background-size: cover;
    background-position: center;
    animation-name: fade-in;
    animation-duration: 2s;
}

.about-overlay {
    padding-top: 25vh;
}

.about-description-container {
    height: 60%;
    width: 60%;
    background-color: #1a1a1a;
    margin: 0 auto;
    opacity: 0.8;
    border-radius: 10px;
    position: relative;
    animation-name: fade-in-about;
    animation-duration: 2s;
}

.about-text,
.about-heading {
    font-family: "Exo 2", sans-serif;
    color: white;
}

.about-text {
    font-size: 25px;
    padding: 30px;
    margin: 0;
}

.about-heading {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}

/*-----------------------Shows Page Styling---------------*/

.shows-page-image {
    height: 500px;
    width: 100%;
    background-color: #383737;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/shows-image.webp');
    background-position: center;
}

.shows-title-text {
    text-align: center;
    padding: 0 20px 0 20px;
    text-shadow: #000 20px 10px 5px;
    animation-name: fade-in;
    animation-duration: 2s;
}

.shows-overlay {
    padding-top: 25vh;
}

.past-shows-title,
.upcoming-shows-title {
    padding: 40px;
    animation: fade-in 2s;
}

.upcoming-shows-title {
    text-align: right;
}

.no-shows {
    font-family: "Exo 2", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    padding: 20px;
    animation: fade-in 2s;
    text-align: center;
}

.shows-section {
    background-color: #161616;
    min-height: 200px;
    padding-bottom: 30px;
}

.show-container {
    padding: 0;
}

.show-item {
    border-radius: 5px;
    padding: 0;
    margin: 20px 5px 20px 5px;
    display: inline-block;
    text-align: center;
    background-color: #464545;
    width: 90%;
    animation: fade-in 2s;
}

.show-date,
.show-venue {
    padding: 15px;
    font-family: 'Rubik Glitch', fantasy;
    color: white;
}

.show-venue {
    padding-left: 30px;
    padding-right: 30px;
}

/*-----------------Sign Up Page Styling-------------------*/

.sign-up-text-container {
    position: relative;
}

.sign-up-form {
    margin: 0 auto;
    margin-top: 160px;
    height: 60%;
    width: 80%;
    background-color: #b8b5b5;
    border-radius: 10px;
    z-index: 2;
    opacity: 0.7;
    position: relative;
}

.sign-up-text {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    animation-name: fade-in;
    animation-duration: 2s;
    text-shadow: 5px 5px 2px #000;
}

.asterisk {
    color: red !important;
    display: inline;
    float: none;
}

.form-width {
    width: 100%;
}

.label {
    text-align: left;
    color: #000;
    font-family: "Exo 2", sans-serif;
}

.submit-button {
    margin-top: 20px;
}

/*-----------------Thank You Page styling-----------------*/

.title-text {
    font-family: 'Rubik Glitch', fantasy;
    color: white;
    text-transform: uppercase;
}

.thank-you-text {
    padding: 200px;
}

.thank-you-and-404-phone-background {
    height: 700px;
}

/*-----------------404 page-------------------------*/

.not-found-message-container-phones {
    padding: 100px 30px;
}

/*------------------Footer styling----------------*/

footer {
    background-color: #302f2f;
    padding: 40px;
}

.social-heading {
    margin-bottom: 60px;
    color: rgb(199, 223, 199);
    animation-name: fade-in;
    animation-duration: 2s;
}

.social-links-list>.social-link-item {
    font-size: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.social-links-list .social-link-item i {
    color: #c3e4ff;
}

/*--------------------Animation classes------------------*/

.slide-in-animation {
    animation-name: slidein;
    animation-duration: 3s;
}

.single-text-slidein-down {
    animation-name: slideindown;
    animation-duration: 3s;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}

/*----------------------Keyframes------------------------*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-about {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes slidein {
    from {
        transform: translateY(12%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideindown {
    from {
        transform: translateY(-10%);
    }

    to {
        transform: translateY(0%);
    }
}

/*------------Media Queries-------------*/

@media screen and (max-width: 1290px) {
    .menuitem a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1190px) {
    .menuitem a {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .thank-you-text {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .right-align-heading {
        text-align: right;
        margin-right: 30px;
    }

    .left-align-heading {
        text-align: left;
        margin-left: 30px;
    }

    .centralize-sign-up {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 10%;
    }

    .row .video-description {
        text-align: left;
        padding-left: 80px;
        padding-right: 80px;
        max-width: 720px;
    }
}

@media (min-width: 632px) {
    .d-custom-none {
        display: none !important;
    }

    .form-contents {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 10%;
    }

    #thank-you-header {
        min-height: 0px;
    }

    #thank-you-header .container-fluid .logo {
        height: 80px;
    }

    .centralize {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 10%;
    }
}

@media (max-width: 767px) {

    .right-align-heading,
    .left-align-heading {
        text-align: center;
    }

    .spotify {
        margin-top: 10px;
    }

    .music-links {
        padding: 0;
    }

    .vanquish-cover {
        margin-left: 0;
        min-width: 0;
        min-height: 0;
        width: 70vw;
    }

    .single-text {
        margin: 0;
    }

    .sign-up-text {
        margin: 0;
        padding-top: 100px;
    }

    .sign-up-text-container {
        height: 20%;
    }

    .form-container {
        height: 80%;
    }

    .social-heading {
        margin-bottom: 20px;
    }

    .past-shows-title,
    .upcoming-shows-title {
        text-align: center;
    }
}

@media (max-width: 631px) {
    .d-custom-maxwidth-none {
        display: none !important;
    }

    header {
        min-height: 47px;
    }

    .logo {
        min-width: 140px;
        max-width: 140px;
        height: 63px;
        position: relative;
    }

    .background-image {
        height: 120px;
        background-image: url('../images/background-image-phone.webp');
    }

    .about-page-image {
        height: 120px;
        background-image: url('../images/about-page-image-phone.webp')
    }

    .shows-page-image {
        height: 120px;
        background-image: url('../images/shows-image.webp')
    }

    .shows-overlay {
        padding-top: 4vh;
    }

    .about-overlay {
        padding: 0;
    }

    .shows-title-text {
        font-size: 22px;
    }

    .about-text,
    .about-heading {
        animation-name: fade-in;
        animation-duration: 2s;
    }

    .sign-up-form {
        margin: 0 auto;
        height: 95%;
        width: 80%;
        background-color: #b8b5b5;
        border-radius: 10px;
        z-index: 2;
        opacity: 0.7;
        position: relative;
    }

    .single-text {
        margin: 30px 25px 30px 25px;
    }

    .vanquish-cover {
        margin-top: 30px;
    }

    .sign-up-phone-background {
        padding-bottom: 30px;
    }

    .form-contents {
        padding: 5%;
    }

    .sign-up-text {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .social-heading {
        font-size: 30px;
    }

    .social-links-list>.social-link-item {
        font-size: 30px;
        text-align: center;
        margin: 5px 0 5px 0;
    }

    .thank-you-text {
        margin: 0;
        padding: 81px 50px 81px 50px;
    }

    .single-text-slidein-down {
        animation: none;
    }
}

/*------Media Queries - Shows.html text and padding size---------------*/

@media (max-width: 350px) {

    .upcoming-shows-title,
    .past-shows-title {
        font-size: 30px;
    }

    .shows-overlay {
        padding-top: 2.5vh;
    }
}

@media (max-width: 294px) {
    .shows-title-text {
        font-size: 18px;
    }
}

@media (max-width: 221px) {
    .shows-overlay {
        padding-top: 1vh;
    }
}

@media (max-width: 174px) {
    .shows-title-text {
        font-size: 15px;
    }
}

@media (max-width: 156px) {
    .shows-overlay {
        padding-top: 2vh;
    }

    .shows-title-text {
        font-size: 13px;
    }
}